<form action="/store/edit/{{ CuaHang._id }}" method="post" class="container col-md-8 card bg-warning mt-3">
<h1 class="text-danger text-uppercase text-center mt-3">Edit Product</h1>
<div class="form-group mt-3">
    <label for="name" class="text-primary">Name</label>
    <input class="form-control" type="text" name="name" required minlength="3" maxlength="30"
         value="{{ CuaHang.name }}" >
</div>

<div class="form-group mt-3">
    <label for="zise" class="text-primary">Size</label>
    <input class="form-control" type="number" name="size" min="0" max="100" value="{{ CuaHang.zise }}">
</div>

<div class="form-group mt-3">
    <label for="color" class="text-primary">Color</label>
    <input  class="form-color" type="text" name="color" value="{{Cuahang.color}}">
</div>

<div class="form-group mt-3">
    <label for="color" class="text-primary">Price</label>
    <input  class="form-color" type="text" name="price" value="{{Cuahang.price}}">
</div>

<div class="form-group mt-3">
    <label for="color" class="text-primary">Description</label>
    <input  class="form-color" type="text" name="description" value="{{Cuahang.des}}">
</div>


<div class="form-group mt-3">
      <label for="image" class="text-primary">Image</label>
      <input class="form-image" type="text" name="image" value="{{Cuahang.image}}">
</div>

 <div class="form-group mt-3 mb-3 text-center">
      <input class="btn btn-primary" type="submit" value="Edit">
      <input class="btn btn-success" type="reset" value="Clear">
</div>
</form>